/* == VARIABLES == */

:root {
    
    --primary-color: #2d2d2d;
    --hover-color: #009aee;
    --footer-foreground-color: #fff;

    --card-front-color: #f8f5f5;
    --card-back-color: #f8f5f5;
    --card-height: 340px;

    /* seminari */
    --seminario-fotografia: #f7a600;
    --seminario-graphic-design: #009fe3;

    --default-gutter: 20px;
    
    --text-spacing: 20px;
    --text-height: 24px;
    --font-size-h2: 26px;
    
    --navigation-height: 38px;
    --layout-width: 960px;
}

/* == RESET == */

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    box-sizing: border-box; /* forzo il box model */
}

a {
    text-decoration: none;
}

body {
    font-size: 18px;
    font-family: 'Lato', Helvetica, sans-serif;
    color: var(--primary-color);
    background-color: #d1d1d1;
}

h2 {
    font-size: var(--font-size-h2);
    margin-top: var(--text-spacing);
}

h3 {
    padding: calc(var(--default-gutter) / 2) 0;
    font-size: calc(var(--font-size-h2) - 4px);
}

/* == HEADER == */

header { 
    background-color: var(--primary-color);
    padding: var(--default-gutter);
    text-align: center;
}

nav ul {
    margin-top: 9px;
} 

nav li {
    display: inline-block;
    font-size: 26px;
    margin: 0 15px;
    text-transform: uppercase;
    height: var(--navigation-height);
    line-height: var(--navigation-height);
}

nav li a {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

nav li a:hover {
    color: var(--hover-color);
}

a#active{
    color: var(--hover-color);    
}

@media (min-width: 768px) {

    header {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        text-align: left;
    }

    h1 {
        /*width: 40%;*/
    } 

    nav {
        /*width: 60%;*/
        text-align: right;
    }

    nav li {
        margin: 0 0 0 30px;
    }

}

/* == MAIN == */

main {
    padding: var(--default-gutter);
}

main a {
    color: var(--hover-color);
}

main p {
    margin-top: var(--text-spacing);
    line-height: var(--text-height);
}

.intro {
    color: #FFF;
    background: var(--primary-color);
    margin: calc(var(--default-gutter) * -1);
    padding: var(--default-gutter);
}

.intro h1 {
    font-size: 20px;
    width: 100%;
}

.intro p {
    margin: 8px 0;
    
}

@media (min-width: 768px) {
    
    .intro {
        text-align: center;
    }

}

/* == COURSES == */

.courses {
    margin-top: var(--default-gutter);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style-type: none;
}

.courses li {
    width: 100%;
    padding: 2px 0;
}

@media (min-width: 768px) {
    
    .courses li {
        font-size: 16px;
    }

}

.courses li::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f105";
    margin-right: 10px;
}

/* == HERO SECTION == */

.hero {
    background: url('../immagini/mohole.jpg') no-repeat center center;
    background-size: cover;
    height: 300px;
}

.hero--contatti, .hero--seminari, .hero--faq, .hero--about {
    background: none;
    height: auto;
}

.hero img {
    width: 100%;
    height: auto;
}

@media (min-width: 768px) {
    
    .hero {
        height: 600px;
    }

    .hero--contatti, .hero--seminari, .hero--faq, .hero--about {
        height: auto;
    }

}

@media (min-width: 1024px) {

    .hero img {
        display: none;
    }

    .hero--contatti {
        background: url('../immagini/contatti.jpg') no-repeat center center;
        height: 300px;
    }

    .hero--seminari {
        background: url('../immagini/seminari.jpg') no-repeat center center;
        height: 300px;
    }

    .hero--faq {
        background: url('../immagini/faq.jpg') no-repeat center center;
        height: 300px;
    }

}

/* == ARTICOLO == */

.articolo__titolo {
    background: transparent;
    padding: 0;
    text-align: left;
} 

.articolo__titolo h2 {
    margin-top: calc(var(--text-spacing)*2);
    font-size: var(--font-size-h2);
}

/* == GRIGLIA == */

.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.grid--content {
    max-width: var(--layout-width);
    margin: 40px auto;
}

.grid__column {
    width: 100%;
}

@media (min-width: 768px) {

    .grid__column--33 {
        width: 30%;
    
    }

    .grid__column--50 {
        width: 50%;
    }

}

/* == FLIP CARD == */

.flip-card {
    cursor: pointer;
    width: 100%;
    height: var(--card-height);
    position: relative;
    transition: transform 1s;
    transform-style: preserve-3d;
    perspective: 600px;
}

.flip-card__face {
    position: absolute;
    height: var(--card-height);
    width: 100%;
    backface-visibility: hidden; /* nascondo le card ruotate */
}

.flip-card__face--front {
    background: var(--card-front-color);
}
  
.flip-card__face--back {
    background: var(--card-back-color);
    transform: rotateY(180deg); /* ruoto per nascondere */
  }
  
.flip-card:hover {
    /*transform: rotateY(180deg);*/
}

.flip-card--rotate {
    transform: rotateY(180deg);
}

/* == CONTATTI == */

.contact-button {
    display: block;
    padding: 10px 16px;
    background: var(--hover-color);
    text-align: center;
    margin: 20px 0;
    font-size: 30px;
}

.contact-button a {
    color: #FFF;
}

.contact-form input {
    width: calc(100% - var(--default-gutter));
    padding: 10px;
    margin-bottom: 1px;
    display: block;
}

.contact-form input[type="checkbox"] {
    width: auto;
    display: inline-block;
    margin-top: var(--default-gutter);
}

input.contact-form__submit {
    width: auto;
    margin-top: var(--default-gutter);
    background: var(--hover-color);
    color: #FFF;
    padding: 10px 16px;
    text-transform: uppercase;
    font-weight: 700;
}

.contact-form input::placeholder, .contact-form textarea::placeholder {
    color: #d2d2d2;
}

.contact-form textarea {
    display: block;
    padding: 10px 12px;
    width: calc(100% - var(--default-gutter));
    height: 200px;
}

.map {
    margin-top: var(--default-gutter);
}

@media (min-width: 500px) {
    .contact-button {
        width: 256px;
    }
}

@media (min-width: 1024px) {
    
    .contact-button {
        display: inline;
        background: none;
        padding: 0;
        font-size: 18px;
    }

    .contact-button a {
        color: var(--primary-color);
    }

}

/* == SEMINARI == */

.seminario-container a {
    color: var(--primary-color);
}

.seminario {
    margin-top: 20px;
}

.seminario__immagine {
    width: 100%;
    height: auto;
}

.seminario__titolo {
    margin: calc(var(--default-gutter) / 2) 0;
    font-size: 20px;
}

.seminario__intro {
    padding: var(--default-gutter);
}

.seminario__tags {
    list-style-type: none;
    margin-top: 4px;
}

.seminario__tag {
    padding: 4px 8px;
    font-size: 14px;
    display: inline-block;
    color: #fff;
}

.seminario__tag--fotografia {
    background: var(--seminario-fotografia);
}

.seminario__tag--graphic-design {
    background: var(--seminario-graphic-design);
}

.seminario__contenuto {
    padding: var(--default-gutter);
}

.seminario__abstract {
    margin-top: 10px;
    font-style: italic;
}



/* == FOOTER == */

footer.site-footer {
    background-color: var(--primary-color);
    color: var(--footer-foreground-color);
    margin-top: calc(var(--default-gutter)*2);
    padding: var(--default-gutter);
}

footer.site-footer a {
    color: var(--footer-foreground-color);
}

.site-footer__logo {
    width: 68%;
}

@media (min-width: 500px) {

    footer.site-footer .grid__column:last-child {
        text-align: right;
    }

}

@media (min-width: 768px) {

    .site-footer__logo {
        width: 160px;
    }

}

/* == CONTACTS == */

.contacts {
    list-style-type: none;
}

.contacts__item {
    padding: 2px 0;
}

.contacts i {
    width: 40px;
    color: var(--footer-foreground-color);
    text-align: center;
} 

/* == SOCIAL == */

.social {
    list-style-type: none;
    margin: var(--default-gutter) 0;
}

.social li {
    display: inline-block;
    margin-right: 6px;
}

.social i {
    font-size: 34px;
}

/* == COPY == */

.copyright {
    list-style-type: none;
    margin: 4px 0;
}

.copyright li {
    display: inline-block;
}

.copyright li::after {
    content: '|';
    margin: 0 4px;
}

.copyright li:last-child::after {
    content: '';
    margin: 0;
}